---
- name: Create database users with name 'bob' and password '12345' with all database privileges
  mysql_user:
    name: "{{ item.db_user }}"
    password: "{{ item.user_password }}"
    priv: "{{ item.user_access }}"
    state: present
  with_items: "{{ database_name }}"

